* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
main header {
  background-color: #2791cf;
  color: #ffffff;
  padding: 7px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main header div.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
main header div.title h1 {
  font-family: "Baloo 2", cursive;
  font-size: 32px;
}
main header button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}
main div.container-large {
  flex: 1;
  background-color: #7E878c;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
}
main div.container-large div.users-window {
  width: 250px;
  color: #ffffff;
  background-color: #3f3f3f;
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 20px;
}
main div.container-large div.users-window div.users-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
main div.container-large div.users-window div.users-head h3 {
  display: flex;
  align-items: center;
}
main div.container-large div.users-window div.users-head h3 span#user-count {
  background-color: #7E878c;
  padding: 0 8px;
  border-radius: 50px;
  margin-left: 10px;
}
main div.container-large div.users-window div.users-head button#add-user-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
main div.container-large div.users-window div.users-head button#add-user-button:hover {
  background-color: #0056b3;
  color: #ffffff;
}
main div.container-large div.users-window .user-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
main div.container-large div.users-window .edit-user-button,
main div.container-large div.users-window .remove-user-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 10px;
}
main div.container-large div.users-window .edit-user-button:hover,
main div.container-large div.users-window .remove-user-button:hover {
  background-color: #0056b3;
  color: #ffffff;
}
main div.container-large div.users-window div.users-list p {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
main div.container-large div.users-window div.users-list p:hover {
  background-color: #007bff;
  color: black;
}
main div.container-large div.chat-big-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  gap: 1rem;
  overflow: hidden;
}
main div.container-large div.chat-big-window div.chat-window {
  flex: 1;
  width: 100%;
  border-radius: 10px;
  background-color: #3f3f3f;
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  overflow-x: auto;
  padding: 1rem;
  height: 100%;
}
main div.container-large div.chat-big-window div.chat-window img {
  width: 100%;
  height: auto;
  display: block;
}
main div.container-large div.chat-big-window div.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: #ffffff;
  padding: 20px 20px 0 20px;
  box-shadow: 0 1.25em 3.43em rgba(0, 0, 0, 0.08);
  border-radius: 0.5em;
}
main div.container-large div.chat-big-window div.container input[type=file] {
  display: none;
}
main div.container-large div.chat-big-window div.container label {
  display: block;
  background-color: #025bee;
  color: #ffffff;
  font-size: 1.1em;
  text-align: center;
  width: 16em;
  padding: 1em 0;
  border-radius: 0.3em;
  margin: 0 auto 1em auto;
  cursor: pointer;
}
main div.container-large div.chat-big-window div.container #error {
  text-align: center;
  color: #ff3030;
}
main div.container-large div.chat-big-window .active {
  border: 0.2em dashed #025bee;
}

footer {
  background-color: #3f3f3f;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  padding: 4px 0;
  text-align: center;
}
footer p {
  margin: 2px 0;
}
footer a {
  color: #2791cf;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  main header button {
    display: block;
  }
  main div.container-large {
    position: relative;
  }
  main div.container-large div.users-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    height: -moz-max-content;
    height: max-content;
    z-index: 11;
    box-shadow: 0 15px 20px -20px black;
    padding-bottom: 0;
    display: none;
  }
}/*# sourceMappingURL=index.css.map */